body {
  margin: 0%;
  background-color: rgb(230, 228, 228);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto;
}

.div-color-orange {
  display: grid;
  height: 100vh;
  grid-template-rows: auto;
}
