@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,600;1,100;1,200;1,500;1,700&display=swap");

:root {
  --color: #e3874f;
  --txt: rgb(185, 185, 185);
}

body {
  margin: 0%;
  background-color: rgb(230, 228, 228);
}

.container {
  width: 100vw;
  height: 100vh;
}

.container,
.item-logo {
  display: flex;
  flex-flow: row wrap;
}

.first-side {
  background-image: linear-gradient(45deg, rgba(119, 119, 119, 0.4), #e3874f),
    url("./img/orange-sunset.jpg");
  background-position: center;
  background-size: 100em;
  background-repeat: no-repeat;
  width: 40vw;
}

.second-side {
  background-position: center;
  background-color: #21201f;
  background-size: 85em;
  background-repeat: no-repeat;
  width: 60vw;
}

.left-side {
  padding-left: 5vw;
}

.item-logo {
  position: relative;
  background-color: #e3874f;
  background-image: url("./img/orange-sunset.jpg");
  background-size: auto;
  height: auto;
  top: 20vh;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.top-content {
  color: white;
  background-color: #e3874f;
  padding: 5rem;
  padding-top: 7rem;
  font-size: 1.35rem;
  font-style: thin 100;
  font-family: "Raleway", sans-serif;
}

.form-content {
  background-color: #21201f;
  box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 45px;
}

.form-title {
  width: 100%;
  color: white;
  font-size: 1.35rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.form-input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.9rem;
  color: white;
  text-transform: uppercase;
}

.bottom-content {
  color: white;
  position: relative;
  padding-top: 2rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

.btn {
  padding-top: 1.2rem;
}

input {
  background-color: #21201f;
  border: 1px solid black;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

input:focus,
input:hover {
  outline: none;
  border: 1px solid var(--color);
  box-shadow: 0 3px 3px #e3874f;
}

label {
  font-size: 0.9rem;
  font-family: "Raleway";
}
a {
  color: #e3874f;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

a:focus {
  color: aliceblue;
}

a:hover {
  color: antiquewhite;
}

button {
  background-color: #e3874f;
  border: 0.1em solid black;
  color: #21201f;
  border-radius: 3px;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  size: 35px;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

button:hover,
button:focus {
  background-color: #21201f;
  color: white;
  box-shadow: 0 12px 25px #e3874f;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-flow: column;
    height: auto;
    text-align: center;
  }
  .first-side {
    width: 100vw;
    height: 15vh;
    display: flex;
    background-size: 100vw;
  }
  .item-logo {
    width: 100vw;
    position: static;
    gap: 10px;
  }
  .right {
    width: auto;
    height: auto;
  }
  .dummy-text {
    width: auto;
    margin-top: 30px;
  }
  .left {
    padding: 10px 20px;
  }

  .form-content {
    flex-flow: column nowrap;
    align-items: center;
  }
  .form-input {
    text-align: left;
    width: auto;
    font-size: 0.9em;
    justify-content: center;
    align-items: center;
  }
  input {
    font-size: 0.9rem;
    height: 1.5rem;
    width: 70vw;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  button {
    margin-bottom: 0px;
    width: 60vw;
    padding: 10px 5px;
  }
}
